# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Importing Datasets

In [10]:
df_general = pd.read_excel('(PRA)_(OFFG)_8350731_v_1_010242 - Analyst Data Science - Technical Assessment - Data.xlsx', sheet_name='Dataset 1 - General')
df_underwriting = pd.read_excel('(PRA)_(OFFG)_8350731_v_1_010242 - Analyst Data Science - Technical Assessment - Data.xlsx', sheet_name='Dataset 2 - Underwriting')

In [27]:
df_general.head(10)

,Unnamed: 0,NWP (£m),NWP (£m) .1,NWP (£m) .2,NWP (£m) .3,NWP (£m) .4,SCR (£m),SCR (£m).1,SCR (£m).2,SCR (£m).3,...,Total liabilities (£m),Total liabilities (£m).1,Total liabilities (£m).2,Total liabilities (£m).3,Total liabilities (£m).4,Excess of assets over liabilities (£m) [= equity],Excess of assets over liabilities (£m) [= equity].1,Excess of assets over liabilities (£m) [= equity].2,Excess of assets over liabilities (£m) [= equity].3,Excess of assets over liabilities (£m) [= equity].4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,-17754.100486,0,0,0,0,2021.321862,0.0,0,0,...,40171.683156,0,0,0,0,1243.924991,4.398725,0,0,0
2,Firm 2,9.244369,0.098771,40.812426,35.643071,13.626145,16.459756,15.009073,14.227214,15.037066,...,7.970519,12.796789,11.332857,6.73019,16.173862,8.755261,48.425189,0.070823,43.36838,12.456319
3,Firm 3,0,0.80613,36.620199,86.630018,54.74418,486.887796,495.786299,626.612217,81.242579,...,68.000844,1592.310597,1005.328927,593.689101,374.712155,210.918808,100.776891,87.586067,922.487659,412.466207
4,Firm 4,19677.453353,41072.816156,20885.506445,14719.672914,49204.465136,15975.652771,15367.887099,10797.123319,22788.359468,...,48416.743356,30870.226541,68145.069079,92600.140108,92273.053968,24862.167211,7191.961836,12910.346383,12586.973993,24127.839035
5,Firm 5,128.812208,10.407371,79.579663,79.423623,61.727295,32.742279,43.954039,31.622572,30.119285,...,267.458967,22.979292,69.343245,16.83747,106.179543,262.68353,7.592281,96.945192,104.609768,103.180972
6,Firm 6,3091.392118,3357.934035,3215.472967,53.217589,5969.707516,5127.365839,5252.809367,5460.800869,4581.916567,...,21524.885521,29794.425246,73169.140527,61908.338858,7915.435194,1730.051065,2681.882442,6397.690379,4848.816357,9295.371569
7,Firm 7,3148.478356,3307.129485,713.84642,18232.37651,6486.658898,3352.500439,2155.201622,4246.239082,7597.763417,...,9079.892449,157830.724496,1656.201361,5825.247115,178292.68653,9579.73927,3474.810757,13507.939847,11434.723658,13165.52525
8,Firm 8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Firm 9,15.279748,15.175538,27.793658,0.354322,6.464531,6.949546,23.009006,25.178162,16.348339,...,20.116507,3.207393,46.90003,15.837435,23.913827,0.397249,15.613578,0.793663,20.901734,49.330029

In [28]:
df_underwriting.head(10)

,Unnamed: 0,Gross claims incurred (£m),Gross claims incurred (£m).1,Gross claims incurred (£m).2,Gross claims incurred (£m).3,Gross claims incurred (£m).4,"Gross BEL (inc. TPs as whole, pre-TMTP) (£m)","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2","Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3",...,Gross expense ratio,Gross expense ratio.1,Gross expense ratio.2,Gross expense ratio.3,Gross expense ratio.4,Gross combined ratio,Gross combined ratio.1,Gross combined ratio.2,Gross combined ratio.3,Gross combined ratio.4
0,NaN,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,...,2016YE,2017YE,2018YE,2019YE,2020YE,2016YE,2017YE,2018YE,2019YE,2020YE
1,Firm 1,0,0.005515,0,0,0,0,0.588994,0,0,...,0,77.251254,0,0,0,0,0.675051,0,0,0
2,Firm 2,44.467865,29.489599,34.100482,0,0,221.32768,59.474691,266.118414,0,...,0.391179,0.685941,1.433284,0,0,1.750946,1.321523,1.545325,0,0
3,Firm 3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Firm 4,14.340938,71.062447,87.912471,42.280402,3.668494,-35.112768,7.848685,100.87627,167.959536,...,0.231139,0.285471,0.05415,0.051848,-0.162883,1.047234,0.476384,3.307379,1.247403,-2.303093
5,Firm 5,48.738606,425.748869,691.379669,174.10126,5.927624,8.386701,253.149414,587.461209,226.977435,...,0.236128,0.232725,0.204508,0.131739,0.048703,0.243611,1.977732,2.495287,0.365455,1.133645
6,Firm 6,125.076792,457.319722,364.148755,257.332452,268.527873,800.531844,554.61207,232.550208,187.213749,...,0.105267,0.451178,0.239576,0.261323,0.06571,0.650369,0.904271,0.147146,0.351034,0.68786
7,Firm 7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Firm 8,0.107354,-0.027761,-0.177631,0,0,0.684128,1.118496,0.861629,1.247482,...,0.51999,0.283165,0.050566,0.464667,0,1.271792,0.125035,-0.013901,1.046206,0
9,Firm 9,213.496532,87.593124,193.063868,78.949374,0,567.216981,695.143727,835.779951,511.859035,...,0.703507,0.444564,0.594972,0.043628,0,1.413159,0.337763,1.530192,0.902398,0

# Preliminary Checking of data

In [33]:
# Checking basic info for each data
df_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 41 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           325 non-null    object
 1   NWP (£m)                                             326 non-null    object
 2   NWP (£m) .1                                          326 non-null    object
 3   NWP (£m) .2                                          326 non-null    object
 4   NWP (£m) .3                                          326 non-null    object
 5   NWP (£m) .4                                          326 non-null    object
 6   SCR (£m)                                             326 non-null    object
 7   SCR (£m).1                                           326 non-null    object
 8   SCR (£m).2                                           326 non-null    object
 9   SCR (£m).3                                           326 non-null    object
 10  SCR (£m).4                                           326 non-null    object
 11  EoF for SCR (£m)                                     326 non-null    object
 12  EoF for SCR (£m).1                                   326 non-null    object
 13  EoF for SCR (£m).2                                   326 non-null    object
 14  EoF for SCR (£m).3                                   326 non-null    object
 15  EoF for SCR (£m).4                                   326 non-null    object
 16  SCR coverage ratio                                   326 non-null    object
 17  SCR coverage ratio.1                                 326 non-null    object
 18  SCR coverage ratio.2                                 326 non-null    object
 19  SCR coverage ratio.3                                 326 non-null    object
 20  SCR coverage ratio.4                                 326 non-null    object
 21  GWP (£m)                                             326 non-null    object
 22  GWP (£m).1                                           326 non-null    object
 23  GWP (£m).2                                           326 non-null    object
 24  GWP (£m).3                                           326 non-null    object
 25  GWP (£m).4                                           326 non-null    object
 26  Total assets (£m)                                    326 non-null    object
 27  Total assets (£m).1                                  326 non-null    object
 28  Total assets (£m).2                                  326 non-null    object
 29  Total assets (£m).3                                  326 non-null    object
 30  Total assets (£m).4                                  326 non-null    object
 31  Total liabilities (£m)                               326 non-null    object
 32  Total liabilities (£m).1                             326 non-null    object
 33  Total liabilities (£m).2                             326 non-null    object
 34  Total liabilities (£m).3                             326 non-null    object
 35  Total liabilities (£m).4                             326 non-null    object
 36  Excess of assets over liabilities (£m) [= equity]    326 non-null    object
 37  Excess of assets over liabilities (£m) [= equity].1  326 non-null    object
 38  Excess of assets over liabilities (£m) [= equity].2  326 non-null    object
 39  Excess of assets over liabilities (£m) [= equity].3  326 non-null    object
 40  Excess of assets over liabilities (£m) [= equity].4  326 non-null    object
dtypes: object(41)
memory usage: 104.5+ KB

In [30]:
# Checking basic info for each data
df_underwriting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 46 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      456 non-null    object
 1   Gross claims incurred (£m)                      457 non-null    object
 2   Gross claims incurred (£m).1                    457 non-null    object
 3   Gross claims incurred (£m).2                    457 non-null    object
 4   Gross claims incurred (£m).3                    457 non-null    object
 5   Gross claims incurred (£m).4                    457 non-null    object
 6   Gross BEL (inc. TPs as whole, pre-TMTP) (£m)    457 non-null    object
 7   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1  457 non-null    object
 8   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2  457 non-null    object
 9   Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3  457 non-null    object
 10  Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4  457 non-null    object
 11  Net BEL (inc. TPs as a whole, pre-TMTP) (£m)    457 non-null    object
 12  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).1  457 non-null    object
 13  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).2  457 non-null    object
 14  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).3  457 non-null    object
 15  Net BEL (inc. TPs as a whole, pre-TMTP) (£m).4  457 non-null    object
 16  Pure net claims ratio                           457 non-null    object
 17  Pure net claims ratio.1                         457 non-null    object
 18  Pure net claims ratio.2                         457 non-null    object
 19  Pure net claims ratio.3                         457 non-null    object
 20  Pure net claims ratio.4                         457 non-null    object
 21  Net expense ratio                               457 non-null    object
 22  Net expense ratio.1                             457 non-null    object
 23  Net expense ratio.2                             457 non-null    object
 24  Net expense ratio.3                             457 non-null    object
 25  Net expense ratio.4                             457 non-null    object
 26  Net combined ratio                              457 non-null    object
 27  Net combined ratio.1                            457 non-null    object
 28  Net combined ratio.2                            457 non-null    object
 29  Net combined ratio.3                            457 non-null    object
 30  Net combined ratio.4                            457 non-null    object
 31  Pure gross claims ratio                         457 non-null    object
 32  Pure gross claims ratio.1                       457 non-null    object
 33  Pure gross claims ratio.2                       457 non-null    object
 34  Pure gross claims ratio.3                       457 non-null    object
 35  Pure gross claims ratio.4                       457 non-null    object
 36  Gross expense ratio                             457 non-null    object
 37  Gross expense ratio.1                           457 non-null    object
 38  Gross expense ratio.2                           457 non-null    object
 39  Gross expense ratio.3                           457 non-null    object
 40  Gross expense ratio.4                           457 non-null    object
 41  Gross combined ratio                            457 non-null    object
 42  Gross combined ratio.1                          457 non-null    object
 43  Gross combined ratio.2                          457 non-null    object
 44  Gross combined ratio.3                          457 non-null    object
 45  Gross combined ratio.4                          457 non-null    object
dtypes: object(46)
memory usage: 164.4+ KB

In [31]:
# Calculating total null values
df_general.isna().sum()

Unnamed: 0                                             1
NWP (£m)                                               0
NWP (£m) .1                                            0
NWP (£m) .2                                            0
NWP (£m) .3                                            0
NWP (£m) .4                                            0
SCR (£m)                                               0
SCR (£m).1                                             0
SCR (£m).2                                             0
SCR (£m).3                                             0
SCR (£m).4                                             0
EoF for SCR (£m)                                       0
EoF for SCR (£m).1                                     0
EoF for SCR (£m).2                                     0
EoF for SCR (£m).3                                     0
EoF for SCR (£m).4                                     0
SCR coverage ratio                                     0
SCR coverage ratio.1                                   0
SCR coverage ratio.2                                   0
SCR coverage ratio.3                                   0
SCR coverage ratio.4                                   0
GWP (£m)                                               0
GWP (£m).1                                             0
GWP (£m).2                                             0
GWP (£m).3                                             0
GWP (£m).4                                             0
Total assets (£m)                                      0
Total assets (£m).1                                    0
Total assets (£m).2                                    0
Total assets (£m).3                                    0
Total assets (£m).4                                    0
Total liabilities (£m)                                 0
Total liabilities (£m).1                               0
Total liabilities (£m).2                               0
Total liabilities (£m).3                               0
Total liabilities (£m).4                               0
Excess of assets over liabilities (£m) [= equity]      0
Excess of assets over liabilities (£m) [= equity].1    0
Excess of assets over liabilities (£m) [= equity].2    0
Excess of assets over liabilities (£m) [= equity].3    0
Excess of assets over liabilities (£m) [= equity].4    0
dtype: int64

In [32]:
# Calculating total null values
df_underwriting.isna().sum()

Unnamed: 0                                        1
Gross claims incurred (£m)                        0
Gross claims incurred (£m).1                      0
Gross claims incurred (£m).2                      0
Gross claims incurred (£m).3                      0
Gross claims incurred (£m).4                      0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m)      0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).1    0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).2    0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).3    0
Gross BEL (inc. TPs as whole, pre-TMTP) (£m).4    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m)      0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).1    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).2    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).3    0
Net BEL (inc. TPs as a whole, pre-TMTP) (£m).4    0
Pure net claims ratio                             0
Pure net claims ratio.1                           0
Pure net claims ratio.2                           0
Pure net claims ratio.3                           0
Pure net claims ratio.4                           0
Net expense ratio                                 0
Net expense ratio.1                               0
Net expense ratio.2                               0
Net expense ratio.3                               0
Net expense ratio.4                               0
Net combined ratio                                0
Net combined ratio.1                              0
Net combined ratio.2                              0
Net combined ratio.3                              0
Net combined ratio.4                              0
Pure gross claims ratio                           0
Pure gross claims ratio.1                         0
Pure gross claims ratio.2                         0
Pure gross claims ratio.3                         0
Pure gross claims ratio.4                         0
Gross expense ratio                               0
Gross expense ratio.1                             0
Gross expense ratio.2                             0
Gross expense ratio.3                             0
Gross expense ratio.4                             0
Gross combined ratio                              0
Gross combined ratio.1                            0
Gross combined ratio.2                            0
Gross combined ratio.3                            0
Gross combined ratio.4                            0
dtype: int64

#### 1. From Initial look it seems datatype is object that should be converted to float or int for further analysis, 
#### 2. Also column name should be changed so that row 1 (containing financial year) can be replaced by metrics